{% extends "base.html" %}
{% block content %}
<div class="sidenav">
    <h1>Check who's live!</h1>
    <a style="background-color:  #46c2f6" href="/">Members</a>
    <a href="/jp0">JP 0th Gen</a>
    <a href="/jp1">JP 1st Gen</a>
    <a href="/jp2">JP 2nd Gen</a>
    <a href="/jpgamers">JP Gamers</a>
    <a href="/jp3">JP 3rd Gen</a>
    <a href="/jp4">JP 4th Gen</a>
    <a href="/jp5">JP 5th Gen</a>
    <a href="/id1">Hololive ID</a>
    <a href="/en1">Hololive EN</a>
    <a href="/all">All</a>
</div>

<h1 class="heading">JP Original Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCp6993wxpyDPHUpavwDFqgg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngZmr_qbKhGIvHaHwLRmKhKxdeFfM7ZbK316vFNSw=s800-c-k-c0x00ffffff-no-rj"
            alt="sora", class="pfp"> </a>
             <h1 class="channel">Tokino Sora</h1>
        </td>

        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCDqI2jOz0weumE8s7paEk6g">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjiwtRNYHIo1zl37gOIiEeOh-2s7HUdhv6WB8M1vQ=s800-c-k-c0x00ffffff-no-rj"
             alt="roboco", class="pfp"> </a>
            <h1 class="channel">Roboco</h1>
        </td>

        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC-hM6YJuNYVAmUWxeIr9FeA">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnivs5rzf7KS1U5FWL3Q23g31ZDNrsTFeczXsTV2hw=s800-c-k-c0x00ffffff-no-rj"
             alt="miko", class="pfp"> </a>
        <h1 class="channel"> Sakura Miko</h1>
        </td>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC5CwaMl1eIgY8h02uZw7u8A">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjdAl5rn3IjWzl55_0-skvKced7znPZRuPC5xLB=s800-c-k-c0x00ffffff-no-rj"
             alt="suisei", class="pfp" style="padding-right: 0px"> </a>
        <h1 class="channel" style="padding-left: 0px;"> Hoshimachi Suisei</h1>
    </tr>
</table>

<h1 class="heading">JP First Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCD8HOxPs4Xvsm8H0ZxXGiBw">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnj5J44v4_Ua9qGrh_n8IR0Dp-r2yj0Nl0mv4lkR=s800-c-k-c0x00ffffff-no-rj"
             alt="calli", class="pfp"> </a>
        <h1 class="channel"> Yozora Mel</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCdn5BQ06XqgXoAxIhbqw5Rg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjfV6gSQIXQpGlFI21BO1EaRuwM_tnkH65IBruhxA=s800-c-k-c0x00ffffff-no-rj"
             alt="calli", class="pfp"> </a>
        <h1 class="channel"> Shirakami Fubuki</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCQ0UDLQCjY0rmuxCDE38FGg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwni8cjtyc08E7rocvO9_gR1b5BhO1O6O1VreDxMW=s800-c-k-c0x00ffffff-no-rj"
             alt="calli", class="pfp"> </a>
        <h1 class="channel">Natsuiro Matsuri </h1>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCFTLzh12_nrtzqBPsTCqenA">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnhPGqWt_E_8rBXpKUTgHCuyTq0Zz7TXlkRtiIww=s800-c-k-c0x00ffffff-no-rj"
             alt="calli", class="pfp"> </a>
        <h1 class="channel"> Aki Rosenthal</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC1CfXB_kRs3C-zaeTG3oGyg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwniCTIXC8xYREeCKIkyKCrxI3mZmVlpKuLB-H1NFjg=s800-c-k-c0x00ffffff-no-rj"
             alt="calli", class="pfp"> </a>
        <h1 class="channel"> Haachama</h1>
    </tr>
</table>

<h1 class="heading">JP Second Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngM9Jmc29dvbOY43w7RWFbOZLU4tGtOkEwtt-g7PA=s800-c-k-c0x00ffffff-no-rj"
             alt="aqua", class="pfp"> </a>
        <h1 class="channel">Minato Aqua </h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCXTpFs_3PqI41qX2d9tL2Rw">
            <img src="https://yt3.ggpht.com/ytc/AAUvwni5CHNTkw8RlOj-78oqDbWS6sEdH4VQR_c06B6s6Q=s800-c-k-c0x00ffffff-no-rj"
             alt="shion", class="pfp"> </a>
        <h1 class="channel"> Murasaki Shion</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC7fk0CB07ly8oSl0aqKkqFg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh66ZORNcVma4Pn-Qic23kU3Kl4ZkHM3asCWjDh=s800-c-k-c0x00ffffff-no-rj"
             alt="ayame", class="pfp"> </a>
        <h1 class="channel"> Nakiri Ayame</h1>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC1suqwovbL1kzsoaZgFZLKg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh0dIB3uStuGrUZGGrubOATPiVSFDiweFCK-0cr=s800-c-k-c0x00ffffff-no-rj"
             alt="choco", class="pfp"> </a>
        <h1 class="channel"> Yuzuki Choco</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCvzGlP9oQwU--Y0r9id_jnA">
            <img src="https://yt3.ggpht.com/ytc/AAUvwniCgko15I_x5bYWm0G2vnf5hZqD5hLOtLEDw0Na=s800-c-k-c0x00ffffff-no-rj"
             alt="subaru", class="pfp"> </a>
        <h1 class="channel"> Oozora Subaru</h1>
</table>

<h1 class="heading">JP Gamers </h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCdn5BQ06XqgXoAxIhbqw5Rg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjfV6gSQIXQpGlFI21BO1EaRuwM_tnkH65IBruhxA=s800-c-k-c0x00ffffff-no-rj"
            alt="fubuki", class="pfp"> </a>
             <h1 class="channel">Shirakami Fubuki</h1>
        </td>

        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCp-5t9SrOQwXMU7iIjQfARg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwng30Wmfu39r1PLrF05pvAafn2a2Ex90ok2C6CTBmg=s800-c-k-c0x00ffffff-no-rj"
             alt="mio", class="pfp"> </a>
            <h1 class="channel">Ookami Mio</h1>
        </td>

        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCvaTdHTWBGv3MKj3KVqJVCw">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjXQ3Gt3t3SdUMZHBhhEb_c1jqThHfDaVNJF_LJ=s800-c-k-c0x00ffffff-no-rj"
             alt="okayu", class="pfp"> </a>
        <h1 class="channel"> Nekomata Okayu</h1>
        </td>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UChAnqc_AY5_I3Px5dig3X1Q">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnimjdERaJDGopfH8UaB0r9tr_p8uyuEWWyYVkAd5Q=s800-c-k-c0x00ffffff-no-rj"
             alt="korone", class="pfp" style="padding-right: 0px"> </a>
        <h1 class="channel" style="padding-left: 0px;"> Inugami Korone</h1>
    </tr>
</table>

<h1 class="heading">JP Third Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC1DCedRgGHBdm81E1llLhOQ">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjvkyPGzOmEXZ34mEFPlwMKTbCDl1ZkQ_HkxY-O5Q=s800-c-k-c0x00ffffff-no-rj"
             alt="pekora", class="pfp"> </a>
        <h1 class="channel">Usada Pekora </h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCl_gCybOJRIgOXw6Qb4qJzQ">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngKVHYXNDzaEG9KIXm9lK0nBxHkA-NxlE88dLtl=s800-c-k-c0x00ffffff-no-rj"
             alt="rushia", class="pfp"> </a>
        <h1 class="channel"> Uruha Rushia</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCvInZx9h3jC2JzsIzoOebWg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngtkUgGkgWTz57Er3GSzuMUR07HISM_yDhKQFnR_A=s800-c-k-c0x00ffffff-no-rj"
             alt="flare", class="pfp"> </a>
        <h1 class="channel"> Shiranui Flare</h1>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCCzUftO8KOVkV4wQG1vkUvg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnijLF2X1YBVQo3rClt7ub29cYM7OzpmRmliaGbw=s800-c-k-c0x00ffffff-no-rj"
             alt="noel", class="pfp"> </a>
        <h1 class="channel"> Shirogane Noel</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCCzUftO8KOVkV4wQG1vkUvg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjPuFWs42Vx2yIhK7z1w4L-e1GIpHn_5R1uknbS=s800-c-k-c0x00ffffff-no-rj"
             alt="marine", class="pfp"> </a>
        <h1 class="channel"> Houshou Marine</h1>
</table>

<h1 class="heading">JP Fourth Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCZlDXzGoo7d44bwdNObFacg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwniXUgLD1FepLsMoqO7HnhlgwbxGmPeqKWGv1JsO=s800-c-k-c0x00ffffff-no-rj"
             alt="kanata", class="pfp"> </a>
        <h1 class="channel">Amane Kanata </h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCS9uQI-jC3DE0L4IpXyvr6w">
            <img src="https://yt3.ggpht.com/ytc/AAUvwniPku-5QatVce_BIjIeBxT5rj9lrTlCpXCvEWa7=s800-c-k-c0x00ffffff-no-rj"
             alt="coco", class="pfp"> </a>
        <h1 class="channel"> Kiryu Coco</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCqm3BQLlJfvkTsX_hvm0UmA">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnitWcmmZK60TDG8y5aUeQfZlmH9YlBNJ4D1ZSFI=s800-c-k-c0x00ffffff-no-rj"
             alt="watame", class="pfp"> </a>
        <h1 class="channel"> Tsunomaki Watame</h1>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC1uv2Oq6kNxgATlCiez59hw">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjPaiimZva5GECAyNDn0qraqPm62LlH-0oN21I5=s800-c-k-c0x00ffffff-no-rj"
             alt="towa", class="pfp"> </a>
        <h1 class="channel"> Tokoyami Towa</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCa9Y57gfeY0Zro_noHRVrnw">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh8JcbM8f3Zvl9eszRVnuqrAF3bjQIEjuOPdBR2=s800-c-k-c0x00ffffff-no-rj"
             alt="luna", class="pfp"> </a>
        <h1 class="channel"> Himemori Luna</h1>
</table>

<h1 class="heading">JP Fifth Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCFKOVgVbGmX65RxO3EtH3iw">
            <img src="https://yt3.ggpht.com/ytc/AAUvwng8eQJdCX3r4RgCmRGwigXkDp9a2JJSPq-dZcMF=s800-c-k-c0x00ffffff-no-rj"
            alt="lamy", class="pfp"> </a>
             <h1 class="channel">Yukihana Lamy</h1>
        </td>

        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCAWSyEs_Io8MtpY3m-zqILA">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnim3rUS3EhZrGARcbATumWxnrCAjo8ovmgXT2tm=s800-c-k-c0x00ffffff-no-rj"
             alt="nene", class="pfp"> </a>
            <h1 class="channel">Momosuzu Nene</h1>
        </td>

        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCUKD-uaobj9jiqB-VXt71mA">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngRC-JqguPnj9ljVH3UulyfdlyQzLYzLeSrhvD6=s800-c-k-c0x00ffffff-no-rj"
             alt="botan", class="pfp"> </a>
        <h1 class="channel"> Shishiro Botan</h1>
        </td>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCK9V2B22uJYu3N7eR_BT9QA">
            <img src="https://yt3.ggpht.com/ytc/AAUvwni13e9pDow2afsp2f5CBPehEvYhFApFZoHaJWLu=s800-c-k-c0x00ffffff-no-rj"
             alt="polka", class="pfp" style="padding-right: 0px"> </a>
        <h1 class="channel" style="padding-left: 0px;"> Omaru Polka</h1>
    </tr>
</table>

<h1 class="heading">ID First Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCOyYb1c43VlX9rc_lT6NKQw">
            <img src="https://yt3.ggpht.com/ytc/AAUvwniS_ftaXhqYt1SQPjyuFx5MD_-v0fIUkbCTq5Q_gg=s800-c-k-c0x00ffffff-no-rj"
             alt="risu", class="pfp"> </a>
            <h1 class="channel">Ayunda Risu</h1>
        </td>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCP0BspO_AMEe3aQqqpo89Dg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnj-XzL4TRZCzwo-7FCmdsTikQo9wMZwz9RGNoT0XA=s800-c-k-c0x00ffffff-no-rj"
             alt="moona", class="pfp"> </a>
            <h1 class="channel">Moona Hoshinova</h1>
        </td>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCAoy6rzhSf4ydcYjJw3WoVg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnh4NDjjjUAfPj8Aa4kjyQb4C85KzMWobSCaso-8=s800-c-k-c0x00ffffff-no-rj"
             alt="iofi", class="pfp"> </a>
            <h1 class="channel">Airani Iofifteen</h1>
        </td>
    </tr>
</table>

<h1 class="heading">ID Second Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCYz_5n-uDuChHtLo7My1HnQ">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnitFviHjDNyLPjA95sz4Supbhvm8Ea3dKrRAKk=s800-c-k-c0x00ffffff-no-rj"
             alt="ollie", class="pfp"> </a>
            <h1 class="channel">Kureiji Ollie</h1>
        </td>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UC727SQYUvx5pDDGQpTICNWg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnie9uw8oBbjgTKmoLPSo9b_K0AbNPRbD2rjCApl=s800-c-k-c0x00ffffff-no-rj"
             alt="anya", class="pfp"> </a>
            <h1 class="channel">Anya Melfissa</h1>
        </td>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UChgTyjG-pdNvxxhdsXfHQ5Q">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnjXvzYgBg5mJv8RZLZhgn0-Zb_4zzE1zhCHrJ2w=s800-c-k-c0x00ffffff-no-rj"
             alt="reine", class="pfp"> </a>
            <h1 class="channel">Pavolia Reine</h1>
        </td>
    </tr>
</table>

<h1 class="heading">EN First Generation</h1>
<table style="width: 1240px">
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCL_qhgtOy0dy1Agp8vkySQg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngcfBYiWbxJXhxC2rtEk-2Uj_BrlQ0FNBdZblJn=s800-c-k-c0x00ffffff-no-rj"
             alt="calli", class="pfp"> </a>
        <h1 class="channel">Mori Calliope </h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCHsx4Hqa-1ORjQTh9TYDhww">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnicJ682cy4GKD-ulxRnE2jOuihNWCULnqW2caej=s800-c-k-c0x00ffffff-no-rj"
             alt="kiara", class="pfp"> </a>
        <h1 class="channel"> Takanashi Kiara</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCMwGHR0BTZuLsmjY_NT5Pwg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwng37V0l-NwF3bu7QA4XmOP5EZFwk5zJE-78OHP9=s800-c-k-c0x00ffffff-no-rj"
             alt="ina", class="pfp"> </a>
        <h1 class="channel"> Ninomae Ina'nis</h1>
    </tr>
    <tr>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCoSrY_IQQVpmIRZ9Xf-y93g">
            <img src="https://yt3.ggpht.com/ytc/AAUvwnhSSaF3Q-PyyTSis4EH6Cu8FZ32LNvkxI9Gl_rn=s800-c-k-c0x00ffffff-no-rj"
             alt="gura", class="pfp"> </a>
        <h1 class="channel"> Gawr Gura</h1>
        <td>
            <a target="_blank" href="https://www.youtube.com/channel/UCyl1z3jo3XHR1riLFKG5UAg">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngENhxNHPzV4jjip28G3vswMxutvkaBhBjAMS0i=s800-c-k-c0x00ffffff-no-rj"
             alt="ame", class="pfp"> </a>
        <h1 class="channel"> Watson Amelia</h1>
</table>

{% endblock %}