<!DOCTYPE html>
<html lang="en">
    <style>

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 225px;
  margin-top: 30px;
  margin-bottom:50px;
  width: auto;
}
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        <tr>
            <td>4</td>
            <td>5</td>
        </tr>
        
    </table>
</body>
</html>